* {/*去除页面空白*/
    margin:0;
    padding:0;
}
body {
    background-color: #68cdd5
}

.ico-back {
    padding: 20px 0 0 35px;
}
/*设置logo图标的样式*/
.ico-logo {
    text-align: center;
    padding: 75px  0 0 0;
}
.txt-logo {
    text-align: left;
    color: #ffffff;
    font-size: 24px;
    padding: 75px 10% 0 10% ;
}
/*设置游戏图标样式*/
.ico-game div {
    display: inline-block;
    color: #ffffff;
    width: 48%;
    text-align: center;
    font-size: 24px;
    padding: 120px 0 120px 0;
}
