* {/*去除页面空白*/
    margin:0;
    padding:0;
}
/*设置标题底框样式*/
.lnTitle{
    background-color: #22292c;
    overflow: hidden;
}
.lnTitle div {
    display: inline-block;
    border: 0;
    color: #ffffff;
    width: 32%;
    height: 5%;
    line-height: 5%;
}
.lblTitleM {
    text-align: center;
}
.lblTitleR {
    text-align: right;
}
.icoBack {
    padding: 3% 0 12% 5.5%;
}
/*设置logo图标的样式*/
.icoLogo {
    align-self: center;
    width: 100%;
}
/*设置简介样式*/
.txtIntroduction {
    color: #ffffff;
    padding: 15% 15% 15% 15%;
    font-size: 1rem;
    align-self: center;
}
/*设置游戏图标样式*/
.icoGame div {
    display: inline-block;
    width: 48%;
    text-align: center;
    padding: 0 0 15% 0;
}