* {/*去除页面空白*/
    margin:0;
    padding:0;
}
/*设置标题底框样式*/
.ln-title{
    background-color: #5fc0cd;
    overflow: hidden;
}
.ln-title div {
    display: inline-block;
    border: 0;
    font-size: 36px;
    color: #ffffff;
    width: 29%;
    padding: 1% 2% 1% 2%;
}
.lbl-titlem {
    text-align: center;
}
.lbl-titler {
    text-align: right;
}
.div-blank {
    background-color: #eff0f4;
    overflow: hidden;
    padding: 1.2% 0 0 0;
}
.ln-username div {
    display: inline-block;
    border: 0;
    padding: 1% 0 1% 3%;
}
[type=text] {
    width: 90%;
    font-size: 32px;
    border: hidden;
    outline:none
}